* {
	margin: 0px;
	padding: 0px;
	font-family: Consolas, Times New Roman;
}
#header {
	_background: #3d658d;
	background: #3d658d;
	position: fixed;
	top: 0;
	z-index: 999;
	line-height: 60px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font: normal 100%/1.4 sans-serif;
	float: left;
	width: 100%;
	height: 60px;
}
@media screen and (max-width: 56.25em) {
	.nav-brand {
		margin-left: 0.5em;
		float: left;
		line-height: 60px;
		color: #FFF;
		height: 60px;
	}
}
@media screen and (min-width: 56.25em) {
	.nav-brand {
		float: left;
		line-height: 60px;
		color: #FFF;
		margin-left: 4em;
		height: 60px;
	}
}

.nav-brand a {
	color: #FFF;
	font-size: 1.5em;
}

.nav-brand a:hover {
	text-decoration: none;
}

.nav-brand p {
	font-size: 30px;
}

.nav-brand:hover {
	cursor: pointer;
}

.actGotop {
	position: fixed;
	_position: absolute;
	bottom: 80px;
	right: 2%;
	width: 2%;
	height: 62px;
	display: none;
	z-index: 999;
}

.actGotop a, .actGotop a:link {
	width: 26px;
	height: 62px;
	display: inline-block;
	background: url(../images/rocket.png) no-repeat;
	_background: url(../images/rocket.png) no-repeat;
	outline: none;
}

.actGotop a:hover {
	width: 26px;
	height: 62px;
	background: url(../images/rocket.png) no-repeat;
	_background: url(../images/rocket.png) no-repeat;
	background-position: 0 -62px;
	outline: none;
}

