<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 750px)" th:href="@{/css/header.css}" />
<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 750px)" th:href="@{/css/mobile/mobileHeader.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/responsive-nav.css}" />
<script type="text/javascript" th:src="@{/js/responsive-nav.min.js}"></script>
<header>
	<div id="header">
		<div class="nav-brand">
			<a href="/index.html"> 博客系统 </a>
		</div>
		<div id="nav">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		<button id="nav-toggle">Menu</button>
	</div>
	<script type="text/javascript">
		var navigation = responsiveNav("#nav", {
			customToggle : "#nav-toggle"
		});
	</script>
</header>
</html>