<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lifengdi.blog.mybatis.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.lifengdi.blog.bean.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="loginId" jdbcType="VARCHAR" property="loginid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nickName" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="headerImg" jdbcType="VARCHAR" property="headerimg" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="random" jdbcType="VARCHAR" property="random" />
    <result column="isAdmin" jdbcType="INTEGER" property="isadmin" />
    <result column="roleId" jdbcType="INTEGER" property="roleid" />
    <result column="aboutId" jdbcType="INTEGER" property="aboutid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modifyTime" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="lastLoginTime" jdbcType="TIMESTAMP" property="lastlogintime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.lifengdi.blog.bean.User">
    <result column="intro" jdbcType="LONGVARCHAR" property="intro" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, loginId, name, nickName, password, headerImg, sex, sign, random, isAdmin, roleId, 
    aboutId, status, createTime, modifyTime, lastLoginTime
  </sql>
  <sql id="Blob_Column_List">
    intro
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.lifengdi.blog.bean.UserExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.lifengdi.blog.bean.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.lifengdi.blog.bean.UserKey" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER}
      and loginId = #{loginid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lifengdi.blog.bean.UserKey">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
      and loginId = #{loginid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lifengdi.blog.bean.User">
    insert into t_user (id, loginId, name, 
      nickName, password, headerImg, 
      sex, sign, random, 
      isAdmin, roleId, aboutId, 
      status, createTime, modifyTime, 
      lastLoginTime, intro)
    values (#{id,jdbcType=INTEGER}, #{loginid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{headerimg,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{sign,jdbcType=VARCHAR}, #{random,jdbcType=VARCHAR}, 
      #{isadmin,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, #{aboutid,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{lastlogintime,jdbcType=TIMESTAMP}, #{intro,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lifengdi.blog.bean.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="loginid != null">
        loginId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="nickname != null">
        nickName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="headerimg != null">
        headerImg,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="random != null">
        random,
      </if>
      <if test="isadmin != null">
        isAdmin,
      </if>
      <if test="roleid != null">
        roleId,
      </if>
      <if test="aboutid != null">
        aboutId,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="modifytime != null">
        modifyTime,
      </if>
      <if test="lastlogintime != null">
        lastLoginTime,
      </if>
      <if test="intro != null">
        intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loginid != null">
        #{loginid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="headerimg != null">
        #{headerimg,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="random != null">
        #{random,jdbcType=VARCHAR},
      </if>
      <if test="isadmin != null">
        #{isadmin,jdbcType=INTEGER},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="aboutid != null">
        #{aboutid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogintime != null">
        #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lifengdi.blog.bean.UserExample" resultType="java.lang.Long">
    select count(*) from t_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.lifengdi.blog.bean.User">
    update t_user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="headerimg != null">
        headerImg = #{headerimg,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="random != null">
        random = #{random,jdbcType=VARCHAR},
      </if>
      <if test="isadmin != null">
        isAdmin = #{isadmin,jdbcType=INTEGER},
      </if>
      <if test="roleid != null">
        roleId = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="aboutid != null">
        aboutId = #{aboutid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null">
        modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogintime != null">
        lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and loginId = #{loginid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lifengdi.blog.bean.User">
    update t_user
    set name = #{name,jdbcType=VARCHAR},
      nickName = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      headerImg = #{headerimg,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      sign = #{sign,jdbcType=VARCHAR},
      random = #{random,jdbcType=VARCHAR},
      isAdmin = #{isadmin,jdbcType=INTEGER},
      roleId = #{roleid,jdbcType=INTEGER},
      aboutId = #{aboutid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      intro = #{intro,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and loginId = #{loginid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lifengdi.blog.bean.User">
    update t_user
    set name = #{name,jdbcType=VARCHAR},
      nickName = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      headerImg = #{headerimg,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      sign = #{sign,jdbcType=VARCHAR},
      random = #{random,jdbcType=VARCHAR},
      isAdmin = #{isadmin,jdbcType=INTEGER},
      roleId = #{roleid,jdbcType=INTEGER},
      aboutId = #{aboutid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
      and loginId = #{loginid,jdbcType=VARCHAR}
  </update>
</mapper>